.navigation {
    background-color: green;

}

.menu-item {
    color: white;
    font-size: 25px
}

p {
    font-size: 30px;
}

.skill {
    font-size: 30px;
}

.lang {
    font-size: 30px;
}
